@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
/* button{
  background-color: lightseagreen;
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
} */
body{
  background-color: #1f1f1f;
  color: white;
}
/* .dibba{
  padding: 10px;
}
.btn{
  padding: 10px;
  background-color: teal;
  font-weight: bolder;
  border-radius: 20px;
}
.btn:active { 
  transform: scale(0.9); 
}
.dataview{
  background-color: gray;
  color: antiquewhite;
  margin-top: 10px;
}
.card{
  background-color: lightseagreen;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
img{
  height: 200px;
} */

/* .dibba{
  padding: 10px;
}
.btn{
  background-color: teal;
  color: white;
  font-size: larger;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}
.btn:active{
  transform: scale(0.9);
}
.lines{
  margin-bottom: 10px;
  color: white;
}
.line{
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
img{
  height: 200px;
} */

h1{
  text-decoration: underline;
  font-size: 70px;
  font-weight: 600;
  color: white;
}